<%= form_with model: @profile do |f| %>
  
  <%# Profile attributes %>
  <ul>
  <% @profile.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  
  <fieldset class='field'>
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
  </fieldset>
  <fieldset class='field'>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </fieldset>
  <fieldset class='field'>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </fieldset>
  <fieldset class='field'>
    <%= f.label :contact_number %><br />
    <%= f.number_field :contact_number %>
  </fieldset>
  


  <p>
    <%= f.submit 'Update', class: 'button is-primary' %>
  </p>
<% end %>