<h1>Account Details</h1>

<%= cl_image_tag(current_user.profile.profile_picture.key, crop: :scale, width: 150, cloud_name: ENV['CLOUDINARY_CLOUD_NAME']) if current_user.profile.profile_picture.attached? %>

<section class='block'>
<table class='table'>
    <tr>
      <td><%= 'Username:' %></td>
      <td><%= @profile.username %></td>
    </tr>
    <tr>
      <td><%= 'Name:' %></td>
      <td><%= @profile.name %></td>
    </tr>
     <tr>
      <td><%= 'Email:' %></td>
      <td><%= current_user[:email] %></td>
    </tr>
    <tr>
      <td><%= 'Contact Number:' %></td>
      <td><%= @profile.contact_number %></td>
    </tr>
  </table>
  <%= link_to("Edit Information", edit_profile_path(@profile), class: 'button is-warning') %>
</section>

<br />

<section class='block'>
  <h4>Addresses</h4>
  <% @profile.addresses.each do |address| %>
    <div class="field has-background-info-light">
      <p>
        <%= address.street_number %>
        <%= address.street_name %>
        <%= address.suburb %>
        <%= address.postcode %>
        <%= address.state %>
        <div class='field'>
          <%= link_to("Edit", edit_profile_address_path(@profile, address), class: 'button is-warning is-small') %>
          <%= button_to('Remove', [@profile, address], method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: 'button is-danger is-small') %>
        </div>
      </p>
    </div>
  <% end %>
  <%= link_to('New Address', new_profile_address_path(@profile), class: "button is-primary") %><br />
</section>
<p>This might show merchant inventory</p>

