<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <%# Takes input to create Profile details %>
  <%= f.fields_for :profile do |pf| %>
    <div class='field is-horizontal'>
      <fieldset class='control'>
        <%= pf.label :username %><br />
        <%= pf.text_field :username, class: 'input' %>
      </fieldset>
    </div>
    
    <div class='field is-horizontal'>
      <fieldset class='control'>
        <%= pf.label :name %><br />
        <%= pf.text_field :name, class: 'input'%>
      </fieldset>
    </div>
    
    <div class='field is-horizontal'>
      <fieldset class='control'>
        <%= pf.label :contact_number %><br />
        <%= pf.number_field :contact_number, class: 'input'%>
      </fieldset>
    </div>
  <% end %>
  
  <%# Takes input to create Devise User %>
  <div class='field is-horizontal'>
    <fieldset class='control'>
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input is-info' %>
    </fieldset>
  </div>

  <div class="field is-horizontal">
    <fieldset class='control'>  
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters min)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'input is-danger' %>
    </fieldset>
  </div>

  <div class="field is-horizontal">
    <fieldset class='control'>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input is-danger' %>
    </fieldset>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'button is-success' %>
  </div>
<% end %>
