<!DOCTYPE html>
<html>
  <head>
    <title>Hopper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar has-background-warning-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="#">Hopper</a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>

    <div class="content">
      <% if notice %>
        <p class="notification is-success is-light"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="notification is-danger is-light"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
