<!DOCTYPE html>
<html>
  <head>
    <title>Hopper</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

    <nav class="navbar has-background-warning-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item is-size-4" href="#">Hopper</a>
        <%# <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a> %>
      </div>
      <div class="navbar-end">
        <% if user_signed_in? %>
          <div class="navbar-item">
            <%= link_to 'Account', edit_user_registration_path, class: 'button is-primary is-small' %>
          </div>
          <div class="navbar-item">
            <%= button_to 'Logout', destroy_user_session_path, class: 'button is-warning is-small', method: :delete, form: { data: { turbo_confirm: "Are you sure you want to log out? " } } %>
          </div>
        <% else %>
          <div class="navbar-item">
            <%= link_to 'Login', new_user_session_path, class: 'button is-primary is-small' %>
          </div>
          <div class="navbar-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-secondary is-small' %>
          </div>
        <% end %>
      </div>
    </nav>

    <div class="content">
      <% if notice %>
        <p class="notification is-success is-light"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="notification is-danger is-light"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    
  </body>
</html>
